@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.font-serif {
  font-family: 'PT Serif', serif !important;
}

.gradient-bg {
  /* background: linear-gradient(45deg, #C7F5FE 10%, #C7F5FE 40%, #FCC8F8 40%, #FCC8F8 60%, #EAB4F8 60%, #EAB4F8 65%, #F3F798 65%, #F3F798 90%); */
  /* background: radial-gradient(80.99% 100% at 50% 0%, #7ea3cb 0%, #36008e 100%),
    radial-gradient(50% 123.47% at 50% 50%, #efe7c8 0%, #36008e 100%),
    linear-gradient(301.28deg, #ff006b 0%, #48dd9e 100%),
    linear-gradient(294.84deg, #5a60e4 0%, #d30000 100%),
    linear-gradient(52.29deg, #000000 0%, #00ff85 100%),
    radial-gradient(100% 138.69% at 100% 0%, #0007a5 0%, #ff7a00 100%),
    radial-gradient(70.41% 100% at 50% 0%, #d5b300 0%, #7ea3cb 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal; */
  background: linear-gradient(
    89.84deg,
    rgba(230, 36, 174, 0.16) 0.34%,
    rgba(94, 58, 255, 0.16) 16.96%,
    rgba(10, 136, 255, 0.16) 34.66%,
    rgba(75, 191, 80, 0.16) 50.12%,
    rgba(137, 206, 0, 0.16) 66.22%,
    rgba(239, 183, 0, 0.16) 82%,
    rgba(246, 73, 0, 0.16) 99.9%
  );
}

.dark-gradient-bg {
  background: linear-gradient(301.28deg, #ff0000 0%, #1d0027 100%),
    linear-gradient(121.28deg, #207a00 0%, #950000 100%),
    linear-gradient(238.72deg, #ffb800 0%, #000000 100%),
    linear-gradient(238.72deg, #00d1ff 0%, #a80000 100%),
    linear-gradient(125.95deg, #00e0ff 10.95%, #87009d 100%),
    linear-gradient(263.7deg, #b60000 3.43%, #b100a0 96.57%),
    linear-gradient(320.54deg, #800000 0%, #00c2ff 72.37%),
    linear-gradient(130.22deg, #8fa600 18.02%, #5a31ff 100%);
  background-blend-mode: difference, color-dodge, difference, lighten, color-dodge, difference,
    difference, normal;
  color: #fff;
}
/* 
.dark-gradient-bg-text{
      text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background: #dca946;
    background-blend-mode: multiply,color-dodge,difference,color-dodge,difference,lighten,difference,color-dodge,difference,normal;
    background-clip: text;
    -webkit-background-clip: text;
  background: linear-gradient(301.28deg, #FF0000 0%, #1D0027 100%), linear-gradient(121.28deg, #207A00 0%, #950000 100%), linear-gradient(238.72deg, #FFB800 0%, #000000 100%), linear-gradient(238.72deg, #00D1FF 0%, #A80000 100%), linear-gradient(125.95deg, #00E0FF 10.95%, #87009D 100%), linear-gradient(263.7deg, #B60000 3.43%, #B100A0 96.57%), linear-gradient(320.54deg, #800000 0%, #00C2FF 72.37%), linear-gradient(130.22deg, #8FA600 18.02%, #5A31FF 100%);
background-blend-mode: difference, color-dodge, difference, lighten, color-dodge, difference, difference, normal;

color: transparent;
} */

body {
  /* background-image: linear-gradient(#444cf712 1px, transparent 0),
    linear-gradient(90deg, #444cf71a 1px, #e5e5f700 0); */
  /* background-image: linear-gradient(rgb(27 37 255 / 6%) 1px, transparent 0),
    linear-gradient(90deg, #f744441f 1px, rgb(229 229 247 / 6%) 0); */
  /* background-size: 20px 20px; */
}

.stripe-bg {
  margin-left: -20px;
  padding: 25px;
  padding-bottom: 0;
  width: calc(100% + 40px);

  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#eeefff 1px, transparent 1px),
    linear-gradient(to right, #eeefff 1px, #ffffff 1px);
  background-size: 20px 20px;
}

.gradient-bg {
  background: linear-gradient(
    89.84deg,
    rgba(230, 36, 174, 0.16) 0.34%,
    rgba(94, 58, 255, 0.16) 16.96%,
    rgba(10, 136, 255, 0.16) 34.66%,
    rgba(75, 191, 80, 0.16) 50.12%,
    rgba(137, 206, 0, 0.16) 66.22%,
    rgba(239, 183, 0, 0.16) 82%,
    rgba(246, 73, 0, 0.16) 99.9%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.mark_pen {
  font-style: italic;
  background-image: linear-gradient(#ffffff00 50%, #ecdda475);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 4s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
